<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/main']" routerLinkActive="router-link-active"><i
            class="bi bi-caret-up-fill"></i> Inventario Web</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/main']" aria-current="page"> <i
                        class="bi bi-house-fill"></i> Menu <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/productos']" routerLinkActive="router-link-active"><i
                        class="bi bi-box-seam-fill"></i> Productos </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/transacciones']" routerLinkActive="router-link-active"><i
                        class="bi bi-calendar3"></i> Transacciones</a>
            </li>
        </ul>
        <!-- <form class="d-flex my-2 my-lg-0">
            <input
                class="form-control me-sm-2"
                type="text"
                placeholder="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
            </button>
        </form> -->
    </div>
</nav>