<header><app-header-main-page></app-header-main-page></header>
<main>
  <div class="container-fluid text-center">
    <section>
      <article class="text-center py-3 px-3">
        <h2>Categorias</h2>
        <div class="row">
          <div class="col-6">
            <app-new-categoria></app-new-categoria>
          </div>
          <div class="col-6"></div>
        </div>
      </article>
      <article class="container-fluid">
        <app-view-categoria></app-view-categoria>
      </article>
    </section>
  </div>
</main>
<footer><app-footer-main-page></app-footer-main-page></footer>
