<!--  Modal trigger button  -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#modalNewProduct"
>
  Nuevo Registro
</button>

<!-- Modal Body-->
<div
  class="modal fade"
  id="modalNewProduct"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="true"
  aria-labelledby="modalTitleProduct"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-subtitle-color" id="modalTitleProduct">
          Nuevo Registro
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- Formulario de registro -->
          <form
            method="post"
            [formGroup]="newFormProduct"
            (ngSubmit)="registerNewProduct()"
            class="needs-validation"
            novalidate
          >
            <!-- Primera fila -->
            <div class="row g-2">
              <div class="col">
                <!-- Nombre -->
                <div class="form-floating mb-4">
                  <input
                    type="text"
                    class="form-control shadow"
                    id="newName"
                    formControlName="newName"
                    placeholder="Nombre del Producto"
                    [class.is-invalid]="
                      newFormProduct.get('newName')?.touched &&
                      newFormProduct.get('newName')?.invalid
                    "
                    required
                  />
                  <label for="newName" class="fw-semibold">
                    Nombre del Producto <span class="text-danger">*</span>
                  </label>
                  <div class="invalid-feedback">
                    <span
                      *ngIf="
                        newFormProduct.get('newName')?.hasError('required')
                      "
                    >
                      El nombre es obligatorio.
                    </span>
                    <span
                      *ngIf="newFormProduct.get('newName')?.hasError('pattern')"
                    >
                      No se permiten caracteres especiales o números.
                    </span>
                  </div>
                </div>
              </div>
              <div class="col">
                <!-- Detalle -->
                <div class="form-floating mb-4">
                  <input
                    type="text"
                    class="form-control shadow"
                    id="newDetails"
                    formControlName="newDetails"
                    placeholder="Detalle del Producto"
                    [class.is-invalid]="
                      newFormProduct.get('newDetails')?.touched &&
                      newFormProduct.get('newDetails')?.invalid
                    "
                    required
                  />
                  <label for="newDetails" class="fw-semibold">
                    Detalle del producto <span class="text-danger">*</span>
                  </label>
                  <div class="invalid-feedback">
                    <span
                      *ngIf="
                        newFormProduct.get('newDetails')?.hasError('required')
                      "
                    >
                      El detalle es obligatorio.
                    </span>
                    <span
                      *ngIf="
                        newFormProduct.get('newDetails')?.hasError('pattern')
                      "
                    >
                      No se permiten caracteres especiales o números.
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Segunda fila -->
            <div class="row g-2">
              <div class="col">
                <!-- Precio -->
                <div class="form-floating mb-4">
                  <input
                    type="number"
                    class="form-control shadow"
                    id="newPrecio"
                    formControlName="newPrecio"
                    placeholder="Precio"
                    [class.is-invalid]="
                      newFormProduct.get('newPrecio')?.touched &&
                      newFormProduct.get('newPrecio')?.invalid
                    "
                    required
                  />
                  <label for="newPrecio" class="fw-semibold">
                    Precio <span class="text-danger">*</span>
                  </label>
                  <div class="invalid-feedback">
                    <span
                      *ngIf="
                        newFormProduct.get('newPrecio')?.hasError('required')
                      "
                    >
                      El precio es obligatorio.
                    </span>
                  </div>
                </div>
              </div>
              <div class="col">
                <!-- Cantidad -->
                <div class="form-floating mb-4">
                  <input
                    type="number"
                    class="form-control shadow"
                    id="newStock"
                    formControlName="newStock"
                    placeholder="Cantidad"
                    [class.is-invalid]="
                      newFormProduct.get('newStock')?.touched &&
                      newFormProduct.get('newStock')?.invalid
                    "
                    required
                  />
                  <label for="newStock" class="fw-semibold">
                    Cantidad <span class="text-danger">*</span>
                  </label>
                  <div class="invalid-feedback">
                    <span
                      *ngIf="
                        newFormProduct.get('newStock')?.hasError('required')
                      "
                    >
                      La cantidad es obligatoria.
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tercera fila -->
            <div class="row g-2">
              <div class="col">
                <!-- Categoría -->
                <div class="form-floating mb-4">
                  <select
                    formControlName="newCategoria"
                    id="newCategoria"
                    class="form-select shadow"
                    required
                  >
                    <option value="" disabled selected>
                      Seleccione una categoría
                    </option>
                    <option
                      *ngFor="let categoria of allCategoria"
                      [value]="categoria.cat_id"
                    >
                      {{ categoria.cat_name }}
                    </option>
                  </select>
                  <label for="newCategoria" class="fw-semibold">
                    Categorías <span class="text-danger">*</span>
                  </label>
                </div>
              </div>
              <div class="col">
                <!-- Estado -->
                <div class="form-floating mb-4">
                  <select
                    formControlName="newStatus"
                    id="newStatus"
                    class="form-select shadow"
                    required
                  >
                    <option value="" disabled selected>
                      Seleccione un estado
                    </option>
                    <option
                      *ngFor="let state of allEstado"
                      [value]="state.est_id"
                    >
                      {{ state.est_name }}
                    </option>
                  </select>
                  <label for="newStatus" class="fw-semibold">
                    Estado <span class="text-danger">*</span>
                  </label>
                </div>
              </div>
            </div>

            <!-- Botones -->
            <div class="text-center">
              <button
                type="button"
                class="btn btn-danger mx-2"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                type="submit"
                class="btn btn-success mx-2"
                [disabled]="!newFormProduct.valid"
              >
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <span class="fst-italic">
          Todos los campos con <span class="text-danger">(*)</span> son
          obligatorios.
        </span>
      </div>
    </div>
  </div>
</div>
